[Unit]
Description=Randomize net1 interface mac address
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/ethermac.sh -i net1 --assign-by-name "Intel Corporate"
Type=forking
NotifyAccess=main
RemainAfterExit=no
User=root
LimitNPROC=1
